.display-show {
  display: inline-block;
  width: 23%;
  margin-right: 2px;
  margin-bottom: 2px;
}

.display-show:nth-child(4n+4) {
  margin-right: 0;
}

.display-show img {
  width: 90%;
  height: auto;
}

.header {
  background-color: black;
  width: 100%;
  position: absolute;
}

.footer {
  background-color: black;
  height: 7%;
  width: 100%;
  position: absolute;
}

.header img {
  width: 15%;
  padding-left: 10%;
}

.series-list {
  padding-top: 5%;
}